<!DOCTYPE html>
<html>
	<head>
		<title>Profile: Cloud Storage</title>
		<link rel="stylesheet" type="text/css" href="../css/website.css">
	</head>
	<body>
		<div id="header-bar">
			<a class="nav-item" href="HomePage.html">
				<img src="../images/icon.png"/ id="top-logo">
			</a>
			<p class="inline" id="top-caption"> Campus Ministry Office</p>
			<button class="inline" id="sign-out-button">Sign Out</button>	
		</div>

		<div id="nav-menu"></div>

		<div class="main-content">
			<div id="profile-box">
				<img src="../images/profilephoto.png" id="profile-photo">
				<div id="profile-nav-bar">
					<a class="profile-menu-item" href="AnnouncementsMember.html">Announcements</a>
					<a class="profile-menu-item" href="CalendarMember.html">Calendar</a>
					<a class="profile-menu-item" href="ViewStorage.html"><strong>Cloud Storage</strong></a>
					<a class="profile-menu-item" href="MembersDirectoryMember.html">Members Directory</a>
					<a class="profile-menu-item" href="ProfileMember.html">Profile</a>
				</div>
			</div>
			<div id="right-contents">
				<div id="add-link-box">
					<p>Url / Link</p>
					<input class="field "type="text" name="URL" >
					<p>Header</p>
					<input class="field "type="text" name="header" >
					<p>Description</p>
					<textarea id="message" type="text" name="description" cols="40" rows="10" maxlength="400"></textarea>
					<p>Tags</p>
					<input class="field "type="text" name="tags" >
				</div>
				<div id="add-link-buttons-box">
					<button id="send-button">Post</button>
					<a href="ViewStorage.html"><button id="cancel-button">Cancel</button></a>
				</div>
			</div>
		</div>
		<!---->
	
	</body>
</html>
	