<!DOCTYPE html>
<html>
	<head>
		<title>Profile: Announcements</title>
		<link rel="stylesheet" type="text/css" href="../css/website.css">
	</head>
	<body>
		<div id="header-bar">
			<a class="nav-item" href="HomePage.html">
				<img src="../images/icon.png"/ id="top-logo">
			</a>
			<p class="inline" id="top-caption"> Campus Ministry Office</p>
			<button class="inline" id="sign-out-button">Sign Out</button>	
		</div>

		<div id="nav-menu"></div>

		<div class="main-content">
			<div id="profile-box">
				<img src="../images/profilephoto.png" id="profile-photo">
				<div id="profile-nav-bar">
					<a class="profile-menu-item" href="AnnouncementsMember.html"><strong>Announcements</strong></a>
					<a class="profile-menu-item" href="CalendarMember.html">Calendar</a>
					<a class="profile-menu-item" href="ViewStorage.html">Cloud Storage</a>
					<a class="profile-menu-item" href="MembersDirectoryMember.html">Members Directory</a>
					<a class="profile-menu-item" href="ProfileMember.html">Profile</a>
				</div>
			</div>
			<div id="right-contents">
				
			</div>
		</div>
		<!---->
	
	</body>
</html>
