<!DOCTYPE html>
<html>
	<head>
		<title>Contact Us</title>
		<link rel="stylesheet" type="text/css" href="../css/website.css">
	</head>
	<body>
		<div id="header-bar">
			<a href="HomePage.html">
				<img src="../images/icon.png" id="top-logo">
			</a>
			<p class="inline" id="top-caption"> Campus Ministry Office</p>
			<button class="inline" id="volunteer-button">Be A Volunteer</button>	
		</div>
		<div id="nav-menu">
		<dl>
			<dt><a class="nav-item" href="HomePage.html">About Us</a></dt>
			<dt><a class="nav-item" href="AnnouncementPage.html">Announcement</a></dt>
			<dt><a class="nav-item" href="EventGalleryPage.html">Event Gallery</a></dt>
			<dt><a class="nav-item" href="VolunteersPage.html">Volunteers</a></dt>
			<dt><a class="nav-item" href="ContactUsPage.html">Contact Us</a></dt>
		</dl>
		</div><!---->
		<div class="main-content">
			<div id="map-contents">
				<img src="../images/map.png" id="map">

				<h2>Campus Ministry Office</h2>
				<p>Parish of the Holy Sacrifice<br>
				   University of the Philippines Diliman<br>
				   Apacible St., Quezon City, Philippines
				 </p>
			</div>

			<div id="socmed-contentC">
				<h2>Follow Us On</h2>
				<div id="socmed-linksC">
					<a href="https://www.facebook.com/updcmo/">
						<img src="../images/fb.png" id="fb-logoC">
					</a>
					<a href="HomePage.html">
						<img src="../images/twitter.png" id="twitter-logoC">
					</a>
					<a href="HomePage.html">
						<img src="../images/ig.png" id="ig-logoC">
					</a>
				</div>
			</div>

			<div id="message-box">
				<h2>Message Us</h2>
				<p>Name (Optional)</p>
				<input class="field "type="text" name="name" >
				<p>Email</p>
				<input class="field" type="text" name="email" >
				<p>Message</p>
				<textarea id="message" type="text" name="message" cols="40" rows="10" maxlength="400"></textarea>
				<button id="send-button">Send</button>
			</div>

		</div>
	
	</body>
</html>
