<!DOCTYPE html>
<html>
	<head>
		<title>Volunteers</title>
		<link rel="stylesheet" type="text/css" href="../css/website.css">
	</head>
	<body>
		<div id="header-bar">
			<a class="nav-item" href="HomePage.html">
				<img src="../images/icon.png"/ id="top-logo">
			</a>
			<p class="inline" id="top-caption"> Campus Ministry Office</p>
			<button class="inline" id="volunteer-button">Be A Volunteer</button>	
		</div>
		<div id="nav-menu">
		<dl>
			<dt><a class="nav-item" href="HomePage.html">About Us</a></dt>
			<dt><a class="nav-item" href="AnnouncementPage.html">Announcement</a></dt>
			<dt><a class="nav-item" href="EventGalleryPage.html">Event Gallery</a></dt>
			<dt><a class="nav-item" href="VolunteersPage.html">Volunteers</a></dt>
			<dt><a class="nav-item" href="ContactUsPage.html">Contact Us</a></dt>
		</dl>
		</div><!---->
		<div class="main-content">
			<div id="side-bar">
			
			</div>
			<div id="right-contents">
				
			</div>
		</div>
	</body>
</html>
